# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Others
/depercated/
/temp/
/assets/models/t2i/diffusion/main/v1
/assets/models/t2i/diffusion/main/v2
/assets/models/t2i/diffusion/org
/assets/models/i2i/nst/
/android/app/src/main/assets/t2i/diffusion/decoder_quant.ort
/ios/Runner/Resources/T2I/Diffusion/decoder_quant.ort